<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçamento - Marmoraria Tech</title>
</head>

<body>
    <h1>Marmoraria Tech</h1>
    <address>
        <strong>Marmoraria Tech</strong><br>
        <b>Endereço: </b>Rua das Flores, Buris de Abrantes, Camaçari - BA<br>
        <b>CEP:</b> 42827-774<br>
        <b>E-mail:</b> marmorariatech@gmail.com</br>
        <b>Telefone:</b> (71) 9 9991-2144
        <p></p>
    </address>


    <form action="processo de dados para orçamento" method="post" <>


        <fieldset>
            <p></p>
            <legend><b>Dados do Cliente</b></legend>

            <label for="Nome"><b>Nome:</b> </label>
            <input type="text" minlength="20" id="Nome" />


            <label for="Telefone"><b>Telefone:</b> </label>
            <input type="text" minlengthid="14" id="Telefone" />


            <label for="E-mail"><b>E-mail:</b> </label>
            <input type="E-mail" minlength="15" id="E-mail" />

            <label for="CPF"><b>CPF:</b></label>
            <input type="text" minlength="11" id="CPF" />

        </fieldset>

        <p><b>Descrição para Orçamento</b></p>

        <fieldset>
            <legend><b>Orçamento</b></legend>
            <p></p>
            <label for="Quantidade"><B>Quantidade</B>:</label>
            <select id="Quantidade">
                <option value="">Selecione</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select>

            <label for="Material"><B>Material</B></label>
            <select id="Material">
                <option value="">Selecione</option>
                <option value="">Verde</option>
                <option value="">Preto</option>
                <option value="">Bege</option>
                <option value="">Nano Glass</option>
            </select>

            <label for="Especificações"><b>Especificações</b></label>
            <select id="Especificações">
                <option value="">Selecione</option>
                <option value="">Soleira</option>
                <option value="">Bancada</option>
                <option value="">Filete Box</option>
                <option value="">Rodopia</option>
            </select>

            <label for="Ambiente"><b>Ambiente</b></label>
            <select id="Ambiente">
                <option value="">Selecione</option>
                <option value="">Banheiro</option>
                <option value="">Cozinha</option>
                <option value="">Quarto</option>
                <option value="">Sala</option>
            </select>

            <label for="Comprimento"><b>Comprimento</b></label>
            <input type="number" id="Comprimento" />

            <label for="Largura"><b>Largura</b></label>
            <input type="number" id="Largura" />

            <label for="Valor (R$)"><b>Valor</b></label>
            <input type="number" id="Valor" />

            <label for="Total"><b>Total</b></label>
            <input type="number" id="Total" />
            <p></p>
        </fieldset>
    </form>
    <fieldset>

        <legend><b>Forma de Pagamento</b></legend>
        <p></p>

        <label for="Forma de pagamento"><b>Forma de Pagamento</b></label>
        <select id="Forma de Pagamento">
            <option value="">Selecione</option>
            <option value="">Á vista</option>
            <option value="">Parcelado</option>
            <option value="">Pix</option>
            <option value="">Boleto</option>
        </select>
            <label for="Valor para pagamento"><b>Valor para pagamento</b></label>
            <input type="number" id="Valor para pagamento" />

            <label for="Valor da instalação"><b>Valor da instalação</b></label>
            <input type="number" id="Valor da instalação" />

            <label for="Taxa de frete"><b>Taxa de frete</b></label>
            <input type="number" id="Taxa de frete" />

            <label for="Valor total à vista"><b>Valor total à vista</b></label>
            <input type="number" id="Valor total à vista" />
    </fieldset>
    <p></p>
    <button>Gerar orçamento</button>
    <button>Gerar PDF</button>
    <button>Imprimir Orçamento</button>
    <button>Adicionar Item ao Orçamento</button>
    <button>Calcular Total</button>
    <button>Salvar Orçamento</button>
    <button>Excluir Orçamento</button>
    <button>Consultar Histórico do Cliente</button>

    <footer>
        <p><b>OBSERVAÇÕES IMPORTANTES</b></p>
        <p>POR SEREM PRODUTOS DA NATUREZA ESTÃO SUJEITOS A VARIAÇÕES, VEIOS E PADRÕES.</p>
        INSTALAÇÕES HIDRÁULICAS SÃO POR CONTA DO CLIENTE
        CUBAS E ACESSÓRIOS POR CONTA DO CLIENTE
    </footer>
</body>

</html>