<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Marmoraria Tech</title>

</head>

<body>
  <div class="dashboard-container">
    <h1>Dashboard</h1>
    <div class="buttons">
      <button> Novo Orçamento</button>
      <button>Cadastrar Material</button>
    </div>

    <fieldset>
      <legend>Filtros</legend>
      <div class="filtros">
        <input type="text" placeholder="Pesquisar Orçamentos">
        <button>Filtrar Orçamentos</button>
        <button>Enviar Orçamento por E-mail</button>
        <input type="text" placeholder="Inserir Desconto">
        <button>Gerar PDF</button>
        <button>Duplicar Orçamento</button>
        <button>Histórico de Alterações</button>
        <button>Atualizar Status do Orçamento</button>
      </div>
    </fieldset>


    <fieldset>
      <legend>Histórico orçamentos</legend>
      <div class="lista-orcamentos">
        <h2>Orçamentos por Status</h2>
        <ul>
          <li>Pendente</li>
          <li>Aprovado</li>
          <li>Recusado</li>
        </ul>
      </div>
    </fieldset>

    <fieldset>
      <legend>Ações Orçamento</legend>
      <div class="acoes-orcamento">
        <button>Imprimir Orçamento</button>
        <button>Adicionar Imagem ao Orçamento</button>
        <button>Adicionar Observações</button>
        <button>Consultar Histórico do Cliente</button>
      </div>
    </fieldset>

    <fieldset></fieldset>
    <div class="resumo-orcamentos">
      <h2>Resumo de Orçamentos</h2>
      <p>Total de orçamentos criados: 15</p>
      <p>Total de orçamentos aprovados: 10</p>
    </div>
    <fieldset>
      <div class="clientes">
        <button>Adicionar Cliente</button>
        <button>Editar Cliente</button>
        <button>Excluir Cliente</button>
      </div>
    </fieldset>

    <fieldset>
      <div class="autenticacao">
        <input type="text" placeholder="Login">
        <input type="password" placeholder="Senha">
        <button>Esqueci minha Senha</button>
        <button>Logout</button>
      </div>
    </fieldset>

    <fieldset>
      <div class="configuracoes">
        <button>Configurações do Sistema</button>
        <button>Adicionar Usuário</button>
        <button>Alterar Permissões de Usuário</button>
      </div>
    </fieldset>

    <fieldset>
      <div class="atividades-recentes">
        <h2>Atividades Recentes</h2>
        <ul>
          <li>Ação 1</li>
          <li>Ação 2</li>
        </ul>
      </div>
    </fieldset>

    <fieldset>
      <div class="suporte">
        <button>Restaurar Orçamento Excluído</button>
        <button>Notificações Automáticas</button>
        <button>Sobre o Sistema</button>
        <button>Ajuda</button>
        <button>Painel de Suporte Técnico</button>
      </div>
  </div>
  </fieldset>


</body>

</html>