<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Marmoraria Tech</title>
  
</head>
<body>
  <fieldset>
    <legend>Dashboard</legend>
    <div class="dashboard-container">
      <div class="buttons">
        <button>Criar orçamento</button>
        <button>Cadastrar Material</button>
        <button>Cadastrar Cliente</button>
        <button>Listar Clientes</button>
        <button>Listar Materiais</button>
        <button>Listar Orçamentos</button>
      </div>
    </div>
  </fieldset>
  <script src="dashboard.js"></script>
</body>
</html>
